.about-page-wrapper {
    min-height: 80vh;
}

.aboutTitle {
    font-size: 2.5rem;
}

.title-desc {
    background-color: lightblue;
    margin: 100px 0;
    padding: 100px;
    justify-content: center;
    align-items: center;
}